h1{
   background-color:blue; 
  margin-top: 65px;
  text-align: center;
  border: 2px solid blue;
  }

.tableau-style {
  border-collapse: collapse;
  min-width: 400px; 
  width: auto;
  margin: 100px auto; 
  border: 2px solid black;
  margin-top: -1px; 
}
thead tr {
   /* pour la couleur du titre; */ 
  background-color: rgb(245, 243, 243);
  color: rgb(0, 4, 7);
  text-align: left;
}
th,td {
  padding: 15px 20px;
}

tbody tr, td, th {
  border: 1px solid black;
}
tbody tr:nth-child(even){
  /* prendre les ranger par pairs de couleur */
}
tbody tr:last-of-type{
  /* qui vas nous permettre de souligne le tableau */
  border-bottom: 2px solid black;
}

/* fieldset{
  margin: 330px; 
  margin-top: 1px;
  border-color: gold;
} */
.ajt{
  text-align: center;
  float: left;
  color: blue;
}  

#sortie {  
  /* padding-top: -20px; */
  margin: 1px; 
       float: right;
       color: blue;
}
a{
  color: black;
  text-decoration: none;
}